<main>
  <h2>Book details</h2>

  <ul>
    <li>
      <p>Title:</p>
      <%=book.title %>
    </li>
    <li>
      <p>Description:</p>
      <%=book.info %>
    </li>
  </ul>
  <a href="/"
    ><img src="/assets/keyboard_backspace-24px.svg" alt="go back"
  /></a>
</main>
