<header>
    <h1><a href="/">Insults</a></h1>

  <nav>
    <a href="/"> / </a>
    <a href="/1"> /:severity</a>
    <a href="/create"> /create</a>
    <a href="/search"> /search</a>
    <a href="/edit/1">/edit/:id</a>

    <a href="/favorite">
      <img class="nav-bar-icon" src="/assets/favorite-24px.svg" alt="heart"
    /></a>
  </nav>
</header>
